## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
#import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Hermanus,ZA,51.91,scattered clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
1,7,Cooma,AU,62.37,broken clouds,-36.2333,149.1333,High Country Motel
2,8,San Juan,AR,59.72,broken clouds,-31.5375,-68.5364,Hotel Provincial
3,11,Cape Town,ZA,52.12,scattered clouds,-33.9258,18.4232,Southern Sun Waterfront Cape Town
4,20,Rio Grande,BR,57.94,broken clouds,-32.0350,-52.0986,Hotel Atlântico Rio Grande

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.

#removed from info box template  <dt>Hotel Name</dt><dd>{Hotel Name}</dd>

info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd> and <dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Lata")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Lata")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Ales")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Alassio")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Caceres")]

In [9]:
print(vacation_stop2)

    City_ID  City Country  Max Temp Current Description      Lat     Lng  \
43      146  Vila      PT     52.74          light rain  42.0304 -8.1588

                             Hotel Name
43  Hotel Castrum Villae by Walk Hotels

In [11]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

# start = city_start["Lat"].to_numpy()[0], city_start["Lng"].to_numpy()[0]
# end = city_start["Lat"].to_numpy()[0], city_start["Lng"].to_numpy()[0]
#print(f'Start: {start}, End: {end}')


start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'"start":{start}, "end":{end}, "stop1":{stop1}, "stop2":{stop2},"stop3":{stop3}')

"start":(40.1629, -8.3327), "end":(40.1629, -8.3327), "stop1":(44.1333, 4.0833), "stop2":(44.0039, 8.1671),"stop3":(39.522, -6.3748)

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
#display('x', 'y', 'pd.concat([x, y], ignore_index=True)')

itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,462,Lata,PT,67.05,overcast clouds,40.1629,-8.3327,Casa Maquia
1,462,Lata,PT,67.05,overcast clouds,40.1629,-8.3327,Casa Maquia
2,299,Ales,FR,68.04,overcast clouds,44.1333,4.0833,ibis Alès Centre-Ville
3,653,Alassio,IT,68.58,scattered clouds,44.0039,8.1671,Hotel Toscana
4,556,Caceres,ES,62.80,broken clouds,39.5220,-6.3748,Ahc Hoteles

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd> and <dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             #max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))